---
import AssetCard from "@/components/AssetCard/AssetCard.astro";
import { data } from "@/data/brand-assets";
---

<div class="brand assets page">
  <div class="inner">
    <h1>Brand Assets</h1>

    {
      data.map(block => {
        return (
          <>
            <hr />

            <div class={block.type}>
              <h2>{block.title}</h2>

              {
                block.subsections.map(subsection => {
                  return (
                    <div class="row">
                      <h3>{subsection.title}</h3>

                      <div class="grid">
                        {
                          subsection.items.map((item) => {
                            return <AssetCard label={item.title} href={item.href} />;
                          })
                        }
                      </div>
                    </div>
                  )
                })
              }
            </div>
          </>
        )
      })
    }

  </div>
</div>
