---
interface Props {
  intro?: string;
  title:
    | string
    | {
        text: string;
        highlight?: boolean;
      }[];
  description: string;
  image?: string;
  imageMobile?: string;
}

const {
  intro,
  title,
  description,
  image = "/assets/home/hero.png",
  imageMobile = "/assets/home/hero.png",
} = Astro.props;

const imageAlt =
  typeof title === "string" ? title : title.map(({ text }) => text).join(" ");
---

<div class="hero component">
  <div class="inner">
    <div class="text content">
      {intro && <h3 class="intro">{intro}</h3>}
      <h1 class="title">
        {
          typeof title === "string"
            ? title
            : title.map(({ text, highlight }) =>
                highlight ? <span class="highlight">{text}</span> : text,
              )
        }
      </h1>
      <p class="description">{description}</p>

      <slot />
    </div>

    <div class="image">
      <picture>
        <source media="(min-width: 768px)" srcset={image} />
        <img src={imageMobile} alt={imageAlt} />
      </picture>
    </div>
  </div>
</div>
