---
interface Props {
  intro?: string;
  title:
    | string
    | {
        text: string;
        highlight?: boolean;
      }[];
  description: string;
  image?: string;
  imageMobile?: string;
  video?: string;
  poster?: string;
}

const { intro, title, description, image, imageMobile, video, poster } = Astro.props;

const imageAlt =
  typeof title === "string" ? title : title.map(({ text }) => text).join(" ");
---

<div class="hero component">
  <div class="inner">
    <div class="text content">
      {intro && <h3 class="intro">{intro}</h3>}
      <h1 class="title">
        {
          typeof title === "string"
            ? title
            : title.map(({ text, highlight }) =>
                highlight ? <span class="highlight">{text}</span> : text
              )
        }
      </h1>
      <p class="description">{description}</p>

      <slot />
    </div>

    <div class="image and video">
      {
        video && (
          <video autoplay loop muted playsinline class="video" poster={poster}>
            <source src={video} type="video/webm" />
          </video>
        )
      }
      
      {
        image && (
          <picture>
            <source media="(min-width: 768px)" srcset={image} />
            <img src={imageMobile} alt={imageAlt} />
          </picture>
        )
      }
    </div>
  </div>
</div>
