---
import Icon from "@/elements/Icon.astro";
import { paths } from "@/elements/icons/paths";

interface Props extends astroHTML.JSX.InputHTMLAttributes {
  id: string;
  name: string;
  label: string;
  placeholder: string;
  date?: boolean;
  noLabel?: boolean;
  readonly?: boolean;
  disabled?: boolean;
  icon?: keyof typeof paths;
  [rest: string]: Anything;
}

const props = Astro.props;
const {
  id,
  name,
  label,
  placeholder,
  icon,
  date,
  noLabel,
  readonly,
  disabled,
  ...rest
} = props;
---

<div class="input icon container" {...rest}>
  <label class={`label ${noLabel ? "sr-only" : ""}`} for={id}>
    {label}
  </label>
  <div class="input wrapper">
    {
      date ? (
        <input
          class="input"
          id={id}
          name={name}
          readonly={readonly}
          disabled={disabled}
          placeholder={placeholder}
          type="date"
          onfocus="(this.type='date', this.showPicker())"
        />
      ) : (
        <input
          class="input"
          readonly={readonly}
          disabled={disabled}
          id={id}
          name={name}
          placeholder={placeholder}
        />
      )
    }
    {
      !!icon && (
        <div class="icon">
          <Icon variant={icon} />
        </div>
      )
    }
  </div>
</div>
