---
import Icon from "@/elements/Icon.astro";

interface Props {
  label: string;
  href: string;
}

const { label, href }: Props = Astro.props;

const isPdf = href.endsWith(".pdf");
---

<div class="asset card component">
  <div class="image">
    {
      isPdf ? (
        <embed src={href} type="application/pdf" />
      ) : (
        <img src={href} alt={label} />
      )
    }
  </div>

  <a href={href} class="download" download={label} target="_blank">
    <span>{label}</span>
    <Icon variant="download-03" size="lg" />
  </a>
</div>
