---
import { headerLinks } from "@/data/nav";
import Icon from "@/elements/Icon.astro";
import MobileMenu from "./MobileMenu.astro";

const logoSrc = `/assets/logo-full.svg`;
---

<header class="site header">
  <div class="desktop container">
    <a href="/" class="logo">
      <img src={logoSrc} class="logo" />
    </a>

    <nav class="nav">
      <ul>
        <li>
          <a href={headerLinks.about.path}>
            {headerLinks.about.title}
          </a>
        </li>

        <li>
          <a href={headerLinks.documentation.path}>
            {headerLinks.documentation.title}
          </a>
        </li>

        <li>
          <a href={headerLinks.contact.path}>
            {headerLinks.contact.title}
          </a>
        </li>
      </ul>

      <a
        href={headerLinks.launchApp.path}
        target="_blank"
        rel="noopener noreferrer"
        data-style="button"
      >
        {headerLinks.launchApp.title}
      </a>

      <button class=`hamburger` data-open="false">
        <Icon variant="menu-01" size="xl" />

        <Icon variant="x-close" size="xl" />
      </button>
    </nav>
  </div>

  <MobileMenu />
</header>

<!-- offset equal to header height for content sections in mobile, when header is sticky -->
<div class="content offset mobile"></div>
