---
import { headerLinks } from "@/data/nav";
---

<div class="mobile menu container" data-open="false">
  <ul>
    <li>
      <a href={headerLinks.about.path}>
        {headerLinks.about.title}
      </a>
    </li>

    <li>
      <a href={headerLinks.documentation.path}>
        {headerLinks.documentation.title}
      </a>
    </li>

    <li>
      <a href={headerLinks.contact.path}>
        {headerLinks.contact.title}
      </a>
    </li>

    <li>
      <a href={headerLinks.launchApp.path} data-style="button">
        {headerLinks.launchApp.title}
      </a>
    </li>
  </ul>
</div>
