---
import { socials, footerLinks, otherLinks } from "@/data/footer";
import Icon from "@/elements/Icon.astro";

interface Props {
  noNewsletter?: boolean;
}

const { noNewsletter } = Astro.props;
const logoSrc = `/assets/logo-full-white.svg`;
---

<div class="footer wrapper">
  {
    !noNewsletter && (
      <div class="wrapper">
        <div class="newsletter component">
          <div class="content">
            <p class="heading">Join Our Mailing List</p>
            <p class="subheading">
              Never miss important updates! Sign up to our Newsletter and get
              insights directly to your inbox.
            </p>

            <form>
              <input type="email" placeholder="Enter your email" required />
              <button type="submit">Subscribe</button>
              <p class="message" />
            </form>
          </div>
        </div>
      </div>
    )
  }

  <div class="wrapper">
    <footer>
      <img src={logoSrc} alt="Stationdex logo" />

      <p class="heading">Embark on a Stellar Trading Experience</p>

      <div class="links">
        {
          footerLinks.map((link) => (
            <div>
              <p class="title">{link.title}</p>

              <ul>
                {link.sublinks.map((sublink) => (
                  <li>
                    <a href={sublink.link}>{sublink.title}</a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>

      <div class="warning">
        <p class="title">Risk Warning</p>

        <p class="description">
          Trading crypto assets involves significant risk and can result in the
          loss of your capital. You should not invest more than you can afford
          to lose and you should ensure that you fully understand the risks
          involved. Before trading, please take into consideration your level of
          experience, investment objectives, and seek independent financial
          advice if necessary. It is your responsibility to ascertain whether
          you are permitted to use the services of StationDEX based on the legal
          requirements in your country of residence.
        </p>

        <div class="other">
          <p class="copyright">StationDEX © 2023</p>

          <a href={otherLinks.privacyPolicy}>Privacy policy</a>

          <a href={otherLinks.termsOfUse}>Terms of use</a>

          <div class="socials">
            {
              socials.map((social) => (
                <a href={social.link} target="_blank" rel="noopener noreferrer">
                  <Icon variant={social.icon} size="lg" />
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
