---
import Icon from "@/elements/Icon.astro";
import { contentItems, tocTitles } from "@/data/star-finders";
import TableOfContents from "@/components/TableOfContents/TableOfContents.astro";
import { getHashFromTitle } from "@/util/link";
---

<div class="star finders content">
  <div class="inner">
    <button class="toc mobile" data-open>
      Table of Contents
      <Icon variant="chevron-right" size="lg" />
    </button>

    <div class="grid">
      <TableOfContents links={tocTitles} />

      <div class="contents">
        {
          contentItems.map((item) => (
            <div class="item">
              <h2 class="hash link" id={getHashFromTitle(item.title)}>
                {item.title}
              </h2>

              <>
                {item.content && (
                  <div class="content">
                    {item.content.map((content) =>
                      Array.isArray(content) ? (
                        <ul>
                          {content.map((subContent) => (
                            <li set:html={subContent} />
                          ))}
                        </ul>
                      ) : (
                        <p set:html={content} />
                      ),
                    )}
                  </div>
                )}
              </>

              <>
                {item.sections && (
                  <div class="sections">
                    {item.sections.map((section) => (
                      <div class="section">
                        <h3
                          class="hash link"
                          id={getHashFromTitle(section.title)}
                        >
                          {section.title}
                        </h3>
                        <div class="content">
                          {section.content.map((content) =>
                            Array.isArray(content) ? (
                              <ul>
                                {content.map((subContent) => (
                                  <li set:html={subContent} />
                                ))}
                              </ul>
                            ) : typeof content === "string" ? (
                              <p set:html={content} />
                            ) : (
                              <div class="sub section">
                                <p class="title">{content.title}</p>
                                <p class="text" set:html={content.text} />
                              </div>
                            ),
                          )}
                        </div>
                      </div>
                    ))}
                  </div>
                )}
              </>
            </div>
          ))
        }
      </div>
    </div>

    <button class="scroll top" data-scroll-top>
      <Icon variant="chevron-up" size="lg" />
    </button>
  </div>
</div>
