---
import IconPairs from "@/components/IconPairs/IconPairs.astro";
import type { StarAllocationData } from "@/data/star-finders";
import { getIconsFromPoolName } from "@/util/token";

interface Props {
  data: StarAllocationData[];
}
const { data } = Astro.props;
---

<div class="star allocation table">
  <table>
    <thead>
      <tr>
        <th align="left">Pool</th>
        <th align="left">Action</th>
        <th align="left">Stars</th>
        <th align="left">Boost</th>
      </tr>
    </thead>

    <tbody>
      {
        data.map((row) => (
          <tr>
            <td class="pool">
              <div>
                <IconPairs icons={getIconsFromPoolName(row.pool)} />
                <p>{row.pool}</p>
              </div>
            </td>
            <td class="action">{row.action}</td>
            <td>{row.stars}</td>
            <td>{row.boost}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
