---
import Icon from "@/elements/Icon.astro";

import "swiper/css";
import "swiper/css/pagination";

const feaures = [
  {
    title: "Embedded DeFi Insurance",
    description:
      "We've gone beyond conventional security measures. Our DEX is integrated with the best robust parametric insurance protocol, ensuring the protection of your investments and safe journey.",
    img: "/assets/home/feature-01.png",
  },
  {
    title: "Community Driven Protocol",
    description:
      "Our protocol is governed by the community. Engage actively in shaping our protocol by voting in governance proposals and decisions.",
    img: "/assets/home/feature-02.png",
    link: "#",
  },
  {
    title: "Vote on Token Emissions",
    description:
      "Take matters into your own hands. You decide where you want to allocate the rewards.",
    img: "/assets/home/feature-03.png",
    link: "#",
  },
];
---

<div class="home features section">
  <div class="container one">
    <div class="left">
      <p class="heading">
        {feaures[0].title}
      </p>

      <hr />

      <p class="description">
        {feaures[0].description}
      </p>
    </div>

    <div class="right">
      <img src={feaures[0].img} alt="feature 1" />
    </div>
  </div>

  <div class="container two">
    <div class="text">
      <p class="title">
        {feaures[1].title}
      </p>

      <hr />

      <p class="description">
        {feaures[1].description}
      </p>
      <a href={feaures[1].link}>
        Learn More
        <Icon variant="chevron-right" />
      </a>
    </div>

    <div class="img">
      <img src={feaures[1].img} alt="feature 2" />
    </div>
  </div>

  <div class="container three">
    <div class="text">
      <p class="title">
        {feaures[2].title}
      </p>

      <hr />

      <p class="description">
        {feaures[2].description}
      </p>
      <a href={feaures[2].link}>
        Learn More
        <Icon variant="chevron-right" />
      </a>
    </div>

    <div class="img">
      <img src={feaures[2].img} alt="feature 2" />
    </div>
  </div>

  <div class="mobile swiper">
    <div class="swiper-wrapper">
      {
        feaures.map(({ title, description, img, link }) => (
          <div class="swiper-slide">
            <div class="card">
              <div class="text">
                <p class="title">{title}</p>
                <p class="description">{description}</p>
                {link && (
                  <a href={link}>
                    Learn More
                    <Icon variant="chevron-right" size="xl" />
                  </a>
                )}
              </div>

              <div class="img">
                <img src={img} alt="feature 2" />
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>
